.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 612px;
}

.row:nth-Child(odd) {
  position: relative;
  margin-left: 76.5px;
  margin-bottom: -38px;
}
.row:nth-Child(even) {
  margin-bottom: -38px;
}
.test-shape {
  display: inline-block;
  box-shadow: 10px 10px 5px #000;
  width: 150px;
  height: 150px;
  background: #a46c04;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: .7s;
}
.test-shape:hover {
  background: #ef9f0a;
  transform: rotateY(-180deg);
  transition: .7s;
}
.timer {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #000; /* Change the text color to black */
  font-size: 20px;
  letter-spacing: 1px;
}

